@charset "UTF-8";

:root {
    /* 색상 변수 */
    --main-color-red : #D71313;
    --main-color-blue : #022CFF;
    --main-color-beige : #FCEFE8;

    --color-black : #000;
    --color-white : #fff;
    --color-gray : #D9D9D9;

    /* 로고 그림자 변수 */
    --logo-drop-shadow : drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}

/***** header mobile style *****/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
/* red 영역 */
.m-h-red-container {
    height: 100px;
    background-color: var(--main-color-red);
    padding: 0 20px;
}
.m-h-icon-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
}
.m-h-icon-left,
.m-h-icon-right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.m-h-icon-left .logo img {
    filter: var(--logo-drop-shadow);
}
/* pc header mobile 사이즈에서 숨김 */
.p-h-container {
    display: none;
}

/***** footer mobile style *****/
footer {
    width: 100%;
    height: 480px;
    padding: 20px;
    background-color: var(--main-color-red);
    color: var(--color-white);
}
/* footer logo */
.f-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.f-logo img {
    filter: var(--logo-drop-shadow);
}

/* csr, comm */
.c-f-csr-comm-container {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.c-f-csr-comm-container h6 {
    font-family: var(--base-font-en-ko-700);
    font-size: 16px;
    padding-bottom: 10px;
}
/* csr */
.csr > a {
    display: block;
    font-family: var(--point-font-en-ko);
    font-size: 22px;
    padding-bottom: 10px;
}
.csr > p {
    font-family: var(--base-font-en-ko-500);
    font-size: 10px;

}
/* comm */
.f-menu {
    display: flex;
    gap: 15px;
    font-family: var(--point-font-en-ko);
    font-size: 16px;
}
.f-menu ul a {
    display: block;
    padding-bottom: 10px;
}
.f-menu ul li:hover {
    color: var(--main-color-blue);
}
/* 회사 정보 */
.company {
    max-width: 500px;
    margin: 0 auto;
}
.company p {
    font-family: var(--base-font-en-ko-500);
    text-align: center;
    font-size: 12px;
}
/* 하단 네비 */
.c-f-nav {
    font-family: var(--base-font-en-ko-700);
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.c-f-nav ul {
    display: flex;
    gap: 10px;
}

/* tablet 769~ */
@media (min-width: 769px) {
    /***** footer pc style *****/
    footer {
        height: 320px;
        overflow: hidden;
    }
    .f-logo {
        justify-content: left;
    }
    .c-f-csr-comm-container {
        width: 350px;
    }
    .company {
        max-width: none;
        width: 40%;
        margin: 0;
        height: auto;
        float: right;
        position: relative;
        bottom: 40%;
    }
    .company p {
        width: 100%;
        text-align: right;
    }
    .c-f-nav {
        position: relative;
        left: 20%;
    }
}

/* pc 1280~ */
@media (min-width: 1280px) {
    .m-h-red-container {
        display: none;
    }

    /***** header pc style *****/
    .p-h-container {
        display: block;
        width: 100%;
        height: auto;
    }
    .red {
        width: 100%;
        height: 30px;
        background-color: var(--main-color-red);
    }
    .beige {
        width: 100%;
        height: 100px;
        background-color: var(--main-color-beige);
        position: relative;
        padding: 0 150px;
    }
    .h-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .h-logo > img {
        width: 100%;
        height: auto;
    }
    .p-h-nav-container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .p-h-nav-container nav ul {
        display: flex;
        align-items: center;
        gap: 15px;
        font-family: var(--point-font-en-ko);
        color: var(--main-color-red);
    }
    .p-h-nav-container nav ul li:hover {
        color: var(--main-color-blue);
    }
    .header-design img {
        width: 100%;
        height: auto;
    }

    /***** footer pc style *****/
    footer {
        height: 500px;
        padding: 100px 150px;
    }
    .f-logo img {
        width: 200px;
        height: auto;
    }
    .c-f-csr-comm-container {
        width: 530px;
    }
    .c-f-csr-comm-container h6 {
        font-size: 22px;
    }
    .csr > a {
        font-size: 34px;
    }
    .csr > p {
        font-size: 14px;
    }
    .f-menu {
        font-size: 24px;
    }
    .company {
        bottom: 55%;
    }
    .company p {
        font-size: 14px;
    }
    .c-f-nav {
        left: 40%;
        bottom: 35%;
        float: right;
        font-size: 16px;
    }
}

/* pc 1555~ (좌우 패딩 100 > 270) */
@media (min-width: 1700px) {
    /***** header pc style *****/
    .beige {
        padding: 0 270px;
    }

    /***** footer pc style *****/
    footer {
        padding: 100px 270px;
    }
    .p-h-nav-container nav ul {
        font-size: 20px;
    }
}